specVersion: 0.0.2
schema:
  file: ./schema.graphql
dataSources:
  - kind: ethereum/contract
    name: BaseGETV1
    network: {{ network }} 
    source:
      address: "{{ BaseGETV1.address }}"
      abi: BaseGETV1
      startBlock: {{ BaseGETV1.startBlock }}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.5
      language: wasm/assemblyscript
      entities:
        - primarySaleMint
        - ticketInvalidated
        - ticketScanned
        - nftClaimed
      abis:
        - name: BaseGETV1
          file: ./abis/v1/BaseGET.json
      eventHandlers:
        - event: primarySaleMint(indexed uint256,indexed uint64,address,address,uint256,indexed uint64)
          handler: handlePrimarySaleMint
        - event: ticketInvalidated(indexed uint256,indexed uint64,address,indexed uint64)
          handler: handleTicketInvalidated
        - event: secondarySale(indexed uint256,indexed uint64,address,address,uint256,indexed uint64)
          handler: handleSecondarySale
        - event: ticketScanned(indexed uint256,indexed uint64,indexed uint64)
          handler: handleTicketScanned
        - event: nftClaimed(indexed uint256,indexed uint64,address,indexed uint64)
          handler: handleNftClaimed
      file: ./src/mappings/v1/baseGET.ts
  - kind: ethereum/contract
    name: EventMetadataStorageV1
    network: {{ network }}
    source:
      address: "{{ EventMetadataStorageV1.address }}"
      abi: EventMetadataStorageV1
      startBlock: {{ EventMetadataStorageV2.startBlock }}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.5
      language: wasm/assemblyscript
      entities:
        - newEventRegistered
      abis:
        - name: EventMetadataStorageV1
          file: ./abis/v1/EventMetadataStorage.json
      eventHandlers:
        - event: newEventRegistered(indexed address,indexed uint256,string,indexed uint256)
          handler: handleNewEventRegistered
      file: ./src/mappings/v1/eventMetadataStorage.ts
  - kind: ethereum/contract
    name: BaseGETV2
    network: {{ network }}
    source:
      address: "{{ BaseGETV2.address }}"
      abi: BaseGETV2
      startBlock: {{ BaseGETV2.startBlock }}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.5
      language: wasm/assemblyscript
      entities:
        - PrimarySaleMint
        - TicketInvalidated
        - TicketScanned
        - CheckedIn
        - NftClaimed
      abis:
        - name: BaseGETV2
          file: ./abis/v2/BaseGET.json
        - name: EconomicsGETV2
          file: ./abis/v2/EconomicsGET.json
      eventHandlers:
        - event: PrimarySaleMint(indexed uint256,indexed uint64,indexed uint64,uint256)
          handler: handlePrimarySaleMint
        - event: TicketInvalidated(indexed uint256,indexed uint64,indexed uint64)
          handler: handleTicketInvalidated
        - event: SecondarySale(indexed uint256,indexed uint64,indexed uint64,uint256)
          handler: handleSecondarySale
        - event: TicketScanned(indexed uint256,indexed uint64,indexed uint64)
          handler: handleTicketScanned
        - event: CheckedIn(indexed uint256,indexed uint64,indexed uint64)
          handler: handleCheckedIn
        - event: NftClaimed(indexed uint256,indexed uint64,indexed uint64)
          handler: handleNftClaimed
      file: ./src/mappings/v2/baseGET.ts
  - kind: ethereum/contract
    name: EventMetadataStorageV2
    network: {{ network }}
    source:
      address: "{{ EventMetadataStorageV2.address }}"
      abi: EventMetadataStorageV2
      startBlock: {{ EventMetadataStorageV2.startBlock }}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.5
      language: wasm/assemblyscript
      entities:
        - NewEventRegistered
      abis:
        - name: EventMetadataStorageV2
          file: ./abis/v2/EventMetadataStorage.json
      eventHandlers:
        - event: NewEventRegistered(indexed address,indexed uint256,string,indexed uint256)
          handler: handleNewEventRegistered
      file: ./src/mappings/v2/eventMetadataStorage.ts
  - kind: ethereum/contract
    name: EconomicsGETV2
    network: {{ network }}
    source:
      address: "{{ EconomicsGETV2.address }}"
      abi: EconomicsGETV2
      startBlock: {{ EconomicsGETV2.startBlock }}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.5
      language: wasm/assemblyscript
      entities:
        - DepotSwiped
      abis:
        - name: EconomicsGETV2
          file: ./abis/v2/EconomicsGET.json
      eventHandlers:
        - event: DepotSwiped(address,uint256)
          handler: handleDepotSwiped
        - event: RelayerToppedUpBuffer(indexed address,indexed uint256,uint256,indexed uint256)
          handler: handleRelayerToppedUpBuffer
        - event: AveragePriceUpdated(indexed address,indexed uint256,indexed uint256)
          handler: handleAveragePriceUpdated
        - event: AverageSiloPriceUpdated(address,uint256,uint256)
          handler: handleAverageSiloPriceUpdated
        - event: RelayerBufferMapped(address,address)
          handler: handleRelayerBufferMapped
      file: ./src/mappings/v2/economicsGET.ts
